.info, .education, .work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding-top: 4em;
    border-bottom: 1px solid grey;
}

.info {
    padding-top: 0.5em;
}


.cover {
    border-left: 1px solid grey;
    padding-left: 1em;
    border-right: 1px solid grey;
    padding-right: 1em;
    border-top: 1px solid grey;
    padding-top: 1em;
}